<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @backlog_item.project_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @backlog_item.item_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @backlog_item.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @backlog_item.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @backlog_item.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @backlog_item.user_id %>
</p>

<%= link_to 'Edit', edit_backlog_item_path(@backlog_item) %> |
<%= link_to 'Back', backlog_items_path %>
